<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>WomenSave</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/header.css">
    
</head>

<body>
  <div th:replace="fragments/header :: header"></div>
  
   <th:block th:if="${session.currentUser} != null">
	      <div >
        	<a th:href="@{/dashboard}"><button>Go to Dashboard</button></a>
          </div>        
      	</th:block>
 </body>

</html>